<div class="col">
   <div class="card text-center">
      <div class="card-header fs-4">{{name}}</div>
      <img src="/images/{{src}}" class="card-img-top img-fluid" alt={{name}} />
      <div class="card-body">
         <a href="#" class="btn btn-primary">Agregar al carrito</a>
      </div>
   </div>
</div>