{{> menu}}

<main class="container-fluid d-flex flex-column align-items-center my-1">
   <h1 class="mb-5 fw-bold text-white">Bienvenido al Mercado WEB, selecciones sus productos</h1>
   <section class="d-flex justify-content-center">
      {{> dashboard}}
   </section>
</main>


{{> modal}}